<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-dark">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          UserBinder
        </q-toolbar-title>

        <div>v. {{ version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      content-class="bg-blue-grey-9"
      @click="leftDrawerOpen = !leftDrawerOpen"
    >
      <q-list>
        <q-item-label
          header
          class="text-light-green-5"
        >
          MENU
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import 'dotenv/config'
import EssentialLink from 'components/EssentialLink.vue'
import { mapGetters, mapMutations } from 'vuex'

const linksData = [
  {
    title: 'Teams',
    caption: 'check yours games',
    icon: 'settings',
    link: '/teamSettings'
  },
  {
    title: 'ProbabilityDistribution',
    caption: '',
    icon: 'help_outline',
    link: '/probabilityDistribution'
  },
  {
    title: 'Roll',
    caption: '',
    icon: 'cached',
    link: '/roll'
  },
  {
    title: 'Write to us',
    caption: 'chat',
    icon: 'chat',
    link: '/chat'
  },
  {
    title: 'Asks',
    caption: '',
    icon: 'help',
    link: '/asks'
  },
  {
    title: 'LogOut',
    caption: '',
    icon: 'logout',
    link: '/logout'
  }
];

const nonLoggedLinksData = [
  {
    title: 'Login',
    caption: '',
    icon: 'login',
    link: '/login'
  }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  computed: {
    ...mapGetters('main', ['getConfigName'])
  },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: nonLoggedLinksData,
      version: "0.0.0.0"
    }
  },
  mounted() {
    if (process.env.VERSION) {
      this.version = process.env.VERSION;
    }
  },
  watch: {
    getConfigName(value, oldValue) {
      if (value !== '' && value !== undefined) {
        this.essentialLinks = linksData;
      } else {
        this.essentialLinks = nonLoggedLinksData;
        this.$router.push('/login')
      }
    }
  }
}
</script>
