<template>
  <q-page class="flex flex-center bg-blue-grey-10 text-white">
    <loader/>
  </q-page>
</template>

<script>
import Loader from "components/Loader";

export default {
  name: 'PageIndex',
  components: {Loader},
}
</script>
