<template>
  <q-page class="flex flex-center bg-blue-grey-10 text-white">
    <div v-if="configName === '' || configName === undefined" class="desktop-size" >
      <div class="row flex-center">
        <div class="col-sm login-borders rounded-corners">
          <h6 class="center text-yellow">Login by user and password:</h6>
          <q-input
            dark
            color="light-green"
            rounded outlined
            label="User"
            style="width: 100%"
            v-model="login"
            error-message="errorMessage"
          >
          </q-input>

          <q-input
            dark
            color="light-green"
            rounded outlined
            label="Password"
            style="width: 100%"
            v-model="password"
            error-message="errorMessage"
          >
            <q-btn
              round
              dense
              flat icon="send"
              @click="logIn()"
            />
          </q-input>
        </div>

        <div class="col-sm login-borders rounded-corners">
          <h6 class="center text-yellow">Login by config id:</h6>
          <q-input
            dark
            color="light-green"
            rounded outlined
            label="ConfigName"
            style="width: 100%"
            v-model="userConfigName"
            error-message="errorMessage"
          >
            <q-btn
              round
              dense
              flat icon="send"
              @click="checkConfig()"
            />
          </q-input>
        </div>
      </div>
    </div>
    <div v-else>
      <q-item-label>Loaded config file:</q-item-label>
      <h4 class="text-yellow">{{ configName }}</h4>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { factory } from '../repository/Factory'
const ConfigRepository = factory.get('config')
const UserRepository = factory.get('user')

export default {
  name: "LoginPage",
  computed: {
    ...mapGetters('main', ['getConfigName'])
  },
  data: function () {
    return {
      userConfigName: '',
      configName: '',
      login: '',
      password: '',
      errorMessage: "error message"
    }
  },
  methods: {
    ...mapMutations('main', ['setConfigName']),
    async checkConfig() {
      try {
        const Response = await ConfigRepository.getConfig(this.userConfigName);
        if (Response?.status === 200) {
          if (Response.data?.results.length > 0) {
            this.setConfigName(this.userConfigName);
            this.configName = this.getConfigName
          } else {
            throw "Bad request";
          }
        }
      } catch (error) {
        console.log(error);
      }
    },
    async logIn() {
      try {
        const Response = await UserRepository.logIn(this.login, this.password);
        if (Response?.status === 200) {
          if (Response.data?.configName.length > 0) {
            this.userConfigName = Response.data.configName;

            const ConfigResponse = await ConfigRepository.getConfig(this.userConfigName);
            if (ConfigResponse?.status === 200) {
              if (ConfigResponse.data?.results.length > 0) {
                this.setConfigName(this.userConfigName);
                this.configName = this.getConfigName
              } else {
                throw "Bad request";
              }
            }
          } else {
            throw "Bad request";
          }
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.configName = this.getConfigName
  }
}
</script>

<style scoped>
.login-borders {
  padding: 20px;
  margin: 10px;
  border: 1px solid #fff !important;
}
</style>
