<template>
  <q-page class="flex flex-center bg-blue-grey-10 text-white">
    <div v-if="roll === false" class="desktop-size">
      <q-table
        title="Team probability:"
        :data="data"
        :columns="columns"
        row-key="name"
        class="bg-blue-grey-8 text-white"
        :rows-per-page-options="paginations"
      />
    </div>
    <div v-else class="center">
      <loader/>
    </div>
  </q-page>
</template>

<script>
import { factory } from '../repository/Factory'
import {mapGetters} from "vuex";
import Loader from "components/Loader";
const Repository = factory.get('roll')

export default {
  name: "ProbabilityDistribution",
  components: {Loader},
  computed: {
    ...mapGetters('main', ['getConfigName'])
  },
  data: function () {
    return {
      roll: false,
      columns: [
        { name: 'team1', label: 'Team 1', field: 'team1', align: 'left', sortable: false, classes: 'bg-blue-grey-9 text-light-green-5'},
        { name: 'team2', label: 'Team 2', field: 'team2', align: 'left', sortable: false, classes: 'bg-blue-grey-9 text-light-green-5'},
        { name: 'count', label: 'Percentage', field: 'count', align: 'left', sortable: true, classes: 'bg-blue-grey-9 text-light-green-5' },
      ],
      data: [],
      paginations: [0]
    }
  },
  async mounted() {
    this.roll = true;
    let dataTab = [];
    try {
      const Response = await Repository.getProbabilityDistribution(this.getConfigName);
      if (Response?.status === 200) {
        if (Response.data?.results.length > 0) {
          Response.data.results.forEach(config => {
            dataTab.push({
              team1: config.team1,
              team2: config.team2,
              count: config.count
            });
          });

          if (dataTab.length > 10) {
            if (dataTab.length <= 20) {
              this.paginations = [10, 0];
            } else if (dataTab.length <= 100) {
              this.paginations = [10, 25, 0];
            } else {
              this.paginations = [10, 20, 50, 0];
            }
          }
          this.data = dataTab;
          this.roll = false;
        } else {
          throw "Bad request";
        }
      }
    } catch (error) {
      console.log(error);
    }
  }
}
</script>

<style scoped>

</style>
