<template>
  <div id="q-app">
    <loader v-if="roll"/>
    <router-view v-else />
  </div>
</template>
<script>
import Loader from "components/Loader";

export default {
  name: 'App',
  components: {Loader},
  data() {
    return {
      roll: true
    }
  },
  mounted() {
    this.roll = false;
  }
}
</script>

<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .desktop-size {
    width: 50%;
    padding: 1% 1%;
    margin: 1% 10%;
  }
}

@media screen and (max-width: 759px) {
  .desktop-size {
    width: 100%;
    padding: 1%;
    margin: 5% 1%;
  }
}

.rounded-corners {
  border-radius: 50px;
}
</style>
